.multisec5-wrapper{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}
.multisec5{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.multisec5 h2{
    font-size: 1.6rem;
    color: #8bc439;
}



.fade-in {
    opacity: 0;
    transition: opacity 1s ease; /* You can adjust the duration and timing function */
  }
  
 .fade-in.visible {
    opacity: 1;
  }

  @media screen and (max-width: 1440px){
    .multisec5 h2{
        font-size: 1.3rem;
    }
    
   
  }

  @media screen and (max-width: 768px){
    .multisec5{
        width: 80%;
    }
  
  }