.hmsec2{
    max-width: 100%;
    min-height: 165vh;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px;
    background-image: url('../img/bg-overlay2.webp'); /* Relative path to your image */
    background-size: 2px; /* This will cover the entire area */
}

@media screen and (max-width: 768px) {
    .hmsec2{
        display: block;
        
    }
  }