.scroll-fixed{
    z-index: 99;
    position: fixed;
    bottom: 0;
    height: 85px;
    width: 100%;
    background-color: rgba(0,0,0, .7);
  }
  
  .scroll-flex{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .scroll-flex p{
    font-size: 80%;
    color: white;
  }
  
  .scroll-flex-left{
    padding-left: 30px;
  }
  
  .scroll-flex-left input{
    border: none;
    padding-block: 5px;
    padding-left: 15px;
    padding-right: 20px;
  }
  
  .scroll-flex-left button{
    border: none;
    background-color: #8bc34a;
    padding-block: 5px;
    color: white;
  }
  
  .scroll-flex-right{
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .scrollflexbutton{
    position: relative;
    cursor: pointer;
    border: 2px solid white;
    color: white;
    background-color: transparent;
    padding-block: 15px;
    padding-inline: 50px;
    overflow: hidden;
  }

  .scrollflexbutton span{
    position: relative;
    z-index: 1;
    font-weight: 400;
}

.scrollflexbutton::before{
    z-index: 0;
    position: absolute;
    bottom:0;
    content: "";
    border-radius: 50%;
    left: var(--x);
    top: var(--y);
    transform: translate(-50%,-50%);
    width: 0;
    height: 0;
    background-color: #8bc34a;
    transition: width .3s, height .3s; 
    
}

.scrollflexbutton:hover::before{
    width: 600px;
    height: 600px;
}

@media screen and (max-width: 768px) {
  .scroll-fixed{
    display: none;
  }
}