.progsec4{
    width: 100% ;
    min-height: 100vh ;
    background-color: #f9e883;
    overflow: hidden;
    background-image: url('../../img/bg-overlay2.webp'); /* Relative path to your image */
    background-size: 2px; /* This will cover the entire area */

}

.progsec4 h1{
    margin-top: 50px;
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
    color: #555;
}

.progsec4 hr{
    background: #555;
    border: none;
    height: 2px;
    width: 50px;
}

.progsec4-bottom{

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 20px;
}

.progsec4-left{
    padding-inline: 50px;
 flex:50%;
 padding-bottom: 20px;
 PADDING-top: 20px;
}

.progsec4-left h2{
  font-size: 2rem;
  color: #555;
}

.progsec4-left p{
  font-size: 1.3rem;
    line-height: 1.6;
    color: #555;
}

.progsec4-right{
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progsec4-right img{

    width: 90%;
    height: 90%;
     }

@media screen and (max-width: 1440px) {
  .progsec4 h1{
    font-size: 2.8rem;
  }
  .progsec4{
    min-height: 120vh;
  }
  .progsec4-left h2{
    font-size: 1.3rem;
  }

  .progsec4-left p{
    font-size: 1.3rem;
  }
}



@media screen and (max-width: 768px) {
  .progsec4 h1{
    font-size: 2rem;
    width: 90%;
    margin-inline: auto;
  }
  .progsec4-left{
    flex: none;
    width: 100%;
    order: 2;
  }
  .progsec4-right{
   flex: none;
   width: 100%;
   order: 1;
  }
  .progsec4-left h2 {
    font-size: 1.7rem;
    line-height: 1.4;

  }
  .progsec4-left p {
    line-height: 1.6;
  }


  
}

