.adssec8{
    width: 100%;
    min-height: 100vh ;
    background-color: white;
    background-image: url('../../img/bg-overlay.webp');
    background-size: 2px;
    display: flex;
    flex-wrap: wrap;
}

.adssec8-left{
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adssec8-right{
  flex: 60%;
}

.adssec8-left img{
    width: 140% ;
    height: 100% ;
}

.adssec8-right h1{
    margin-top: 150px;
    font-size: 2.8rem;
    font-weight: 900;
    text-align: center;
  color: #555;
}

.adssec8-right hr{
 border: none;
 height: 2px;
 width: 50px;
 background: #555;
}

.adssec8-right li{
  width: 80%;
  margin-inline: auto;
    margin-bottom: 10px;
    line-height: 1.5;
  color: #555;
}

.adssec8-right span{
 font-weight: 700;
}

.adssec8-desc{
    margin: auto;
    width: 80%;
    padding-inline: 15px;
    padding-block: 5px;
    background-color: #7f7f7f;
}

.adssec8-desc p{
    line-height: 1.5;
    color: white;
}

@media screen and (max-width: 1440px) {
  .adssec8{
    min-height: 140vh;
  }
  .adssec8-right h1{
    margin-top: 50px;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 768px) {

  .adssec8-right h1{
    width: 90%;
    margin-inline: auto;
  }
  .adssec8-left{
    flex: none;
    width: 100%;
  }
  .adssec8-right{
    flex: none;
    width: 100%;
  }
  .adssec8-right ul{
    padding-inline-start: 40px;
    padding-inline-end: 20px;
  }
  .adssec8-right li{
    width: auto;
  }
  .adssec8-desc{
    margin: auto;
    margin-bottom: 20px;
  }
}